/* Fabuleusement orchestré par David Leuliette  */

/* -------------------------------------------------- 
   Contenu
-----------------------------------------------------
:: UI
:: MODULES
*/

/*------------------------------ */
/* UI -------------------------- */
/*------------------------------ */

/* Communs ---------------------- */
.radius {-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}
.arrow-right:after { content: "\2192"; margin: 0 0 0 10px; }
.arrow-left:before { content: "\2190"; margin: 0 10px 0 0px; }
.icon-paragraph-justify:before { margin: 0 10px 0 0px; }


.row.max-width{ min-width: auto; width: auto; }

/* Tables ---------------------- */
table {
	width:100%;
	background: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-collapse: collapse; 
	margin: 0 0 18px;
	border: 1px solid #ddd;
}

table thead,
table tfoot {
	background: #f5f5f5;
}
table th,
table td{
	border: 1px solid #ddd;
}

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
	font-size: 13px;
	line-height: 1em;
	text-align: left;
	border-left:none; 
	border-right:none;
	border-bottom:none;
}

table thead tr th,
table thead tr td,
table tfoot tr td {
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #222;
}

table tbody tr td {
	padding: 8px;
	color: #545454;
	vertical-align: top;
}

table tbody tr:hover { background:orange; }

/*
table tbody tr:hover > td .tab-action{ display:block; }
.tab-action{ display:none; }
.tab-action a{ font-size:24px; text-align:center; }
*/
.table-carnet-liaison tr th, 
.table-carnet-liaison tr td{
	padding:5px;
}

/* thead */
.size-five{ height:5em; }
.size-ten{ height:10em; }
.size-twenty{ height:20em; }
.sortable thead th { cursor:pointer; }

/* Navigation ---------------------- */
.nav-bar { height: 32px; background: #4d4d4d; padding: 0; }
.nav-bar > li { float: left; display: block; position: relative; padding: 0; margin: 0; border: 1px solid #333333; background-color: #4D4D4D; border-right: none; line-height: 30px; -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset; }
.nav-bar > li:first-child { -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
.nav-bar > li:last-child { border-right: solid 1px #333333; -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2); box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2); }
.nav-bar > li.active { background: #E35205; border-color: #007aad; }
.nav-bar > li.active > a { color: white; cursor: default; }
.nav-bar > li.active:hover { background: #E35205; cursor: default; }
.nav-bar > li:hover { background: #333333; }
.nav-bar > li > a { color: #e6e6e6; }
.nav-bar > li ul { margin-bottom: 0; }
.nav-bar > li .flyout { display: none; }
.nav-bar > li.has-flyout > a:first-child { padding-right: 32px; position: relative; }
.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: #e6e6e6 transparent transparent transparent; position: absolute; right: 20px; top: 14px; }
.nav-bar > li.has-flyout > a.flyout-toggle { border-left: 0 !important; position: absolute; right: 0; top: 0; padding: 18px; z-index: 2; display: block; }
.nav-bar > li.has-flyout.is-touch > a:first-child { padding-right: 55px; }
.nav-bar > li.has-flyout.is-touch > a.flyout-toggle { border-left: 1px dashed #666; }
.nav-bar > li > a:first-child { position: relative; padding: 0 20px; display: block; text-decoration: none; font-size: 14px; }
.nav-bar > li > input { margin: 0 10px; }

.nav-bar li.has-flyout:hover > .flyout { display: block; }

.flyout { background: #f2f2f2; padding: 20px; margin: 0; border: 1px solid #d9d9d9; position: absolute; top: 30px; left: -1px; width: 250px; z-index: 40; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* remove margin on any first-child element */ /* remove margin on last element */ }
.flyout p { line-height: 1.2; font-size: 13px; }
.flyout *:first-child { margin-top: 0; }
.flyout *:last-child { margin-bottom: 0; }
.flyout.small { width: 166.66667px; }
.flyout.large { width: 437.5px; }
.flyout.right { left: auto; right: -2px; }
.flyout.left { right: auto; left: -2px; }
.flyout.up { top: auto; bottom: 31px; }

ul.flyout, .nav-bar li ul { padding: 0; list-style: none; }
ul.flyout li, .nav-bar li ul li { border-left: solid 3px #CCC; }
ul.flyout li a, .nav-bar li ul li a { background: #f2f2f2; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; color: #555; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; text-decoration:none;}
ul.flyout li a:hover, .nav-bar li ul li a:hover { background: #ebebeb; color: #333; }
ul.flyout li.active, .nav-bar li ul li.active { margin-top: 0; border-top: 1px solid #4d4d4d; border-left: 4px solid #1a1a1a; }
ul.flyout li.active a, .nav-bar li ul li.active a { background: #4d4d4d; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }


/* Panels ---------------------- */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #E35205; color: #fff; border-color: #007aad; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #E35205; text-shadow: none; }
.panel.callout .button:hover { background: rgba(255, 255, 255, 0.8); }

/* Link List ---------------------- */
.link-list { margin: 0 0 17px -22px; padding: 0; list-style: none; overflow: hidden; }
.link-list li { list-style: none; float: left; margin-right: 10px; display: block; }
.link-list li a { display: block; }

/* Pagination ---------------------- */
.nav-pagination { margin:0px !important; }
.nav-pagination li{ font-size: 16px; line-height: 42px; color:#545454; }
.nav-pagination input{ font-size: 24px; }
.nav-pagination select{ margin: 0px; height: auto;}


/* Alerts ---------------------- */
.alert-box { display: block; padding: 6px 7px 7px; font-weight: bold; font-size: 14px; color: white; background-color: #E35205; border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); position: relative; }
.alert-box.success { background-color: #5da423; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
.alert-box.alert { background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
.alert-box.secondary { background-color: #e9e9e9; color: #505050; text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
.alert-box a.close { color: #333; position: absolute; right: 4px; top: -1px; font-size: 17px; opacity: 0.2; padding: 4px; }
.alert-box a.close:hover, div.alert-box a.close:focus { opacity: 0.4; }


/*------------------------------ */
/* MODULES --------------------- */
/*------------------------------ */

/* HEADER */
#header { background-color:#E35205; }
#logout { background: rgba(255,255,255,0.2); margin: 10px 0 0; }
#logout a { color: #e6e6e6; padding: 5px; }
#logout a:hover { color: #ffffff; }
#logout .icon-box { font-size: 20px; }


/* LOGIN */
div#authentification{
	margin:100px 0 0 0;
}

div#authentification:hover{
  box-shadow: 0px 0px 3px 2px rgba(51, 177, 230, 0.3);
  transition: all 0.3s ease 0s;
}


/* ELEVES */

/*
.Incidentcomptable * {
	color: #C00000;
	font-weight:bold;
}
*/
.Incidentcomptable .iconimg-etat-eleve0:after,
.Incidentcomptable .iconimg-etat-eleve1:after,
.Incidentcomptable .iconimg-etat-eleve2:after,
.Incidentcomptable .iconimg-etat-eleve3:after {
	padding:2px;
	background-color: #C00000;
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);	
	margin: 0 0 0 32px;
	content: "Incident";
} 

.blocattributs .button{ margin-bottom:0.1em; }


#formationsuivi h3{
	padding-left: 6.5em;
}
#formationsuivi .icon-etat{
	position: absolute;
	left: 2em;
	top: 50%;
	margin-top: -12px;
}

#formationsuivi .ef_bTerminee2{
	left: 4em;
}


/* BG colors */
.non_inscrit { background: #FFC6C6; }

.iconimg-etat-eleve0 { background: rgb(217, 235, 193); }
.iconimg-etat-eleve1 { background: rgb(242, 235, 193); }
.iconimg-etat-eleve2 { background: rgb(192, 210, 218); }
.iconimg-etat-eleve3 { background: rgb(242, 185, 168); }

.nav-student{
	width:100%;
	position:fixed;
	top:0;
	height:50px;
	z-index:9;
}

/* FORM */
select[multiple='multiple']
{
	/*height:auto;*/
}

/* IFRAME */

#inscriptions{ }
/*#inscriptions iframe{ min-height:700px !important; }*/
iframe { 
		
		width:100%;
		min-height:780px ;
}

.mceIframeContainer iframe
{
	min-height:150px ;
}

/* CODEX */
#vertical-nav{
	position:fixed;
	top:100px;
}

/* TICKETS */
#tickets tbody tr.statut1 td.statut {
	background: #fff
}

#tickets tbody tr.statut3 td.statut {
	background: #ffc373
}

#tickets tbody tr.statut4 td.statut {
	background: #b2ff73
}

#tickets tbody tr.statut5 td.statut {
	background: #ccc
}

#tickets tbody tr.statut6 td.statut {
	background: #aaa
}

td.statut, td.type {
	text-align: center;
}

#tickets tbody tr.type1 .type {
	background: #ffc
}

#tickets tbody tr.type2 .type {
	background: #fcf
}

#tickets tbody tr.type3 .type {
	background: #cff
}

#tickets tbody tr.type4 .type {
	background: #fcc
}


/** --------------------------- FIX CSS MONDIAL RELAY --------------------------- */

#MRW-Map{
    width: 650px !important;
    height: 450px !important;
}
div.MR-Widget{
    width: 100% !important;
}

span.MRW-Line input{
    display: inline-block !important;
    width: auto !important;
}