/* Fabuleusement orchestrÃ© par David Leuliette  */

/* -------------------------------------------------- 
   Contenu
-----------------------------------------------------
:: Police
:: Affichage Codex
:: Icones
:: Taille
:: Etat eleves
:: Navigation
*/

/* -----------------------------------------
   Police
----------------------------------------- */
@font-face {
	font-family: 'crm';
	src:url('fonts/crm.eot');
	src:url('fonts/crm.eot?#iefix') format('embedded-opentype'),
		url('fonts/crm.svg#crm') format('svg'),
		url('fonts/crm.woff') format('woff'),
		url('fonts/crm.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'crm';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'crm';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}





/* -----------------------------------------
   Affichage Codex
----------------------------------------- */
.icon-box{
    display: block;
    float: left;
    font-size: 2em;
    width: 20%;
}
.icon-text{
	font-size:14px;
}


a.icon-pencil{z-index:999;}
.icon-pencil{font-size :20px; padding : 0 20px;}
.icon-pencil:hover{color: #C00000; }

/* -----------------------------------------
   Icones
----------------------------------------- */
.icon-home:before      { content: "\21"; }
.icon-pencil:before    { content: "\22"; }
.icon-file:before      { content: "\25"; }
.icon-mail:before      { content: "\27"; }
.icon-phone:before     { content: "\28"; }
.icon-location:before  { content: "\29"; }
.icon-clock:before     { content: "\2a"; }
.icon-cog:before       { content: "\2b"; }
.icon-undo:before      { content: "\2c"; }
.icon-plus:before      { content: "\2d"; }
.icon-cancel:before    { content: "\2e"; color: #C00000; }
.icon-checkmark:before { content: "\2f"; color: #5DA423; }
.icon-exit:before      { content: "\30"; }
.icon-menu:before      { content: "\31"; }
.icon-file-powerpoint:before   { content: "\32"; }
.icon-file-excel:before        { content: "\33"; }
.icon-file-word:before         { content: "\34"; }
.icon-file-openoffice:before   { content: "\35"; }
.icon-file-pdf:before          { content: "\36"; }
.icon-file-zip:before          { content: "\37"; }
.icon-feed:before              { content: "\38"; }
.icon-share:before             { content: "\39"; }
.icon-new-tab:before           { content: "\3a"; }
.icon-search:before            { content: "\24"; }
.icon-cloud:before             { content: "\3b"; }
.icon-upload:before            { content: "\3c"; }
.icon-link:before              { content: "\3d"; }
.icon-eye:before               { content: "\3e"; }
.icon-happy:before             { content: "\3f"; }
.icon-neutral:before           { content: "\40"; }
.icon-remove:before            { content: "\41"; }
.icon-bell:before              { content: "\23"; }
.icon-help:before              { content: "\26"; }
.icon-paragraph-justify:before { content: "\42"; }
.icon-grid-view:before         { content: "\43"; }
.icon-key:before               { content: "\44"; }
.icon-printer:before           { content: "\45"; }
.icon-user:before              { content: "\46"; }
.icon-checkbox:before          { content: "\47"; }
.icon-checkbox-unchecked:before{ content: "\48"; }





/* -----------------------------------------
   Taille
----------------------------------------- */

.icon-16{ /*display: block; width: 16px; height: 16px;*/ }
.icon-24{ font-size: 1.5em; }
.icon-32{ display: block; width: 32px; height: 32px; font-size: 2.2em; }
.icon-64{ display: block; width: 64px; height: 64px; font-size: 4.5em; }

a .icon-16 { display: block; width: 16px; height: 16px; padding:}
a .icon-24 { display: block; width: 24px; height: 24px; font-size: 1.8em; }


/* -----------------------------------------
   Etat eleves
----------------------------------------- */
.ef_bTerminee0,
.ef_bTerminee1,
.ef_bTerminee2,
.ef_bTerminee3,
.iconimg-etat-eleve0,
.iconimg-etat-eleve1,
.iconimg-etat-eleve2,
.iconimg-etat-eleve3 { background: url('/img/icon-etat-eleve.png') no-repeat top left; width:24px; height:24px; display:block; }

/*
.iconimg-etat-eleve0, .ef_bTerminee0 { background-position:0 0; }
.iconimg-etat-eleve1, .ef_bTerminee1 { background-position:0 -24px; }
.iconimg-etat-eleve2, .ef_bTerminee2 { background-position:0 -48px; }
.iconimg-etat-eleve3, .ef_bTerminee3 { background-position:0 -72px; }
*/

.iconimg-etat-eleve2, .ef_bTerminee2 { background-position:0 0; }
.iconimg-etat-eleve0, .ef_bTerminee0 { background-position:0 -24px; }
.iconimg-etat-eleve1, .ef_bTerminee1 { background-position:0 -48px; }
.iconimg-etat-eleve3, .ef_bTerminee3 { background-position:0 -72px; }




/* -----------------------------------------
   Arrows
----------------------------------------- */
.arrow-right:after    { margin: 0 0 0 0.2em; content: "\2192"; }
.arrow-up-right:after { margin: 0 0 0 0.2em; content: "\2197"; }
.arrow-left:before    { margin: 0 0.2em 0 0; content: "\2190"; }
.arrow-up:before      { margin: 0 0.2em 0 0; content: "\2191"; }
